:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-grey: #f5f5f5;
    --grey: #dcdcdc;
    --dark-grey: #2c2c2c;
    --red: #ff0000;
    --orange: #ff9900;
    --yellow: #ffff00;
    --green: #09ff00;
    --blue: #00a2ff;
    --light-pink: #ffd3d3;
    --light-blue: #d0d0ff;
    --light-green: #bcffc2;
    --light-red: #ffc7c7;

    --carbon-black: #242423;
    --graphite: #333533;
    --alabaster-grey: #CFDBD5;
    --soft-linen: #E8EDDF;
    --tuscan-sun: #F5CB5C;

    --primary-background-colour: var(--light-grey);
    --primary-text-color: var(--black);

    --error: var(--red);
    --warning: var(--orange);
    --success: var(--green);
    --neutral: var(--blue);

    --main-max-width: 1200px;

    --default-padding: 20px;

    --section-background-colour: var(--light-grey);
    --section-margin-bottom: 40px;

    --nav-button-margin: 10px;

    --back-to-top-button-background-colour: var(--black);
    --back-to-top-button-font-colour: var(--white);
    --back-to-top-button-margin: 10px;

    --table-border-colour: var(--grey);
    --table-th-background-colour: var(--dark-grey);
    --table-th-font-colour: var(--white);
    --table-td-background-colour: var(--white);

    --structured-data-card-background-colour: var(--white);
    --structured-data-card-border-colour: var(--grey);
    --structured-data-card-show-hide-details-button-background-colour: var(--dark-grey);
    --structured-data-card-show-hide-details-button-font-colour: var(--white);

    --ignore-robots-txt-warning-message: var(--yellow);

    --checkbox-dimensions: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Zolando Sans';
    src: url('/fonts/ZalandoSans-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf');
}

@font-face {
    font-family: 'Google Sans Flex';
    src: url('/fonts/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf');
}

@font-face {
    font-family: 'Michroma';
    src: url('/fonts/Michroma-Regular.ttf');
}

body {
    background-color: var(--primary-background-colour);
    color: var(--primary-text-color);
    font-family: 'Nunito Sans', sans-serif;
}

ul,
ol {
    margin-left: 3rem;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

img {
    max-width: 100%;
}

h1 {
    margin-bottom: 1rem;
}

h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin-bottom: 0.5rem;
}

p {
    line-height: 1.5rem;
}

.section-margin-bottom {
    margin-bottom: var(--section-margin-bottom);
}

.wrap-url {
    word-break: break-word;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}



/************************************** SYSTEM COLOURS *******************************************/
.error-text {
    color: var(--error);
}

.error-background {
    background-color: var(--error);
    color: var(--white);
}

.warning-text {
    color: var(--warning);
}

.warning-background {
    background-color: var(--warning);
}

.success-background {
    background-color: var(--success);
    color: var(--black);
}

.success-text {
    color: var(--success);
}

.neutral-background {
    background-color: var(--neutral);
    color: var(--white);
}

.neutral-text {
    color: var(--neutral);
}
/************************************** SYSTEM COLOURS *******************************************/


#cookie-consent-banner {
    background-color: red;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    background-color: var(--orange);
    padding: 5px var(--default-padding);
}

#logo {
    background-color: var(--blue);
    font-family: 'Michroma', sans-serif;
    font-size: 1.3rem;
}

#nav-button {
    background-color: greenyellow;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    top: 5px;
    right: var(--default-padding);
    font-size: 3rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: grid;
    gap: 5px;
    align-content: center;
}

#nav-button > div {
    background-color: var(--black);
    width: 100%;
    height: 6px;
}

nav {
    background-color: var(--light-blue);
    display: grid;
    gap: 30px;
    text-align: center;
    align-content: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: left 0.2s ease-in-out;
    z-index: 999;
}

.nav-section {
    display: grid;
    gap: 15px;
    justify-items: center;
}

.nav-section-heading {
    font-weight: bold;
}

.nav-section-links {
    display: grid;
    gap: 15px;
    justify-items: center;
}

#back-to-top-button {
    background-color: var(--back-to-top-button-background-colour);
    color: var(--back-to-top-button-font-colour);
    position: fixed;
    bottom: var(--default-padding);
    right: var(--default-padding);
    padding: 10px 20px;
    border: 0px;
    border-radius: 10%;
    cursor: pointer;
    font-size: 1rem;
}

main {
    padding: var(--default-padding);
    max-width: var(--main-max-width);
    margin: auto;
}


/************************************** FORMS *******************************************/
fieldset {
    background-color: var(--light-pink);
    border: none;
}

input#url {
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
}

.url-input-and-check-page-button-container {
    display: grid;
    grid-template-columns: auto 100px;
}

.url-input-and-check-page-button-container button {
    cursor: pointer;
    font-weight: bold;
    bordeR: none;
    background-color: var(--dark-grey);
    color: var(--white);
}

#ignore-robots-check-button-and-text {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#ignore-robots-check-button-and-text input {
    width: var(--checkbox-dimensions);
    height: var(--checkbox-dimensions);
}

#ignore-robots-message {
    background-color: var(--ignore-robots-txt-warning-message);
    padding: 15px;
    font-weight: bold;
}
/************************************** FORMS *******************************************/



/************************************** TABLES *******************************************/
table,
th,
td {
    border: 1px solid var(--table-border-colour);
    padding: 5px 10px;
}

.table-scroll-container {
    position: relative;
}

.table-scroll-top {
    overflow-x: auto;
    overflow-y: hidden;
    height: 16px;
}

.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
    max-height: 75vh;
}

table {
    border-collapse: collapse;
}

th {
    background-color: var(--table-th-background-colour);
    color: var(--table-th-font-colour);
}

thead th {
    position: sticky;
    top: 0;
}

td {
    background-color: var(--table-td-background-colour);
}

.table-links {
    display: grid;
    justify-items: start;
}
/************************************** TABLES *******************************************/



/************************************** FOOTER *******************************************/
footer {
    background-color: var(--grey);
    padding: var(--default-padding);
    display: grid;
    gap: 20px;
}

.footer-links {
    display: grid;
    gap: 20px;
    justify-items: start;
}

#copyright {
    font-size: 0.9rem;
}
/************************************** FOOTER *******************************************/



/***************************** TOOL CARDS ********************************/
.tool-card-container {
    background-color: var(--light-pink);
    display: grid;
    gap: 20px;
}

.tool-card {
    background-color: var(--light-blue);
}
/***************************** TOOL CARDS ********************************/



/***************************** STRUCTURED DATA CARDS ********************************/
.structured-data-card-container {
    display: grid;
    gap: 10px;
}

.structured-data-card {
    background-color: var(--structured-data-card-background-colour);
    border: 1px solid var(--structured-data-card-border-colour);
    padding: 20px;
}

.structured-data-card-show-hide-details-button {
    cursor: pointer;
    background-color: var(--structured-data-card-show-hide-details-button-background-colour);
    color: var(--structured-data-card-show-hide-details-button-font-colour);
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.structured-data-card-value {
    margin-bottom: 5px;
}
/***************************** STRUCTURED DATA CARDS ********************************/



@media only screen and (min-width: 768px) {
    .footer-links {
        display: flex;
        flex-wrap: wrap;
    }
}