:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-grey: #e1e1e1;
    --red: #ff0000;
    --orange: #ff9900;
    --green: #00cd18;
    --light-pink: #ffd3d3;
    --light-blue: #d0d0ff;

    --primary-background-colour: var(--white);
    --primary-text-color: var(--black);

    --error: var(--red);
    --warning: var(--warning);
    --success: var(--green);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error {
    color: var(--red);
}

.warning {
    color: var(--warning);
}

.success {
    color: var(--success);
}

body {
    background-color: var(--primary-background-colour);
    color: var(--primary-text-color);
}

header {
    background-color: var(--light-grey);
}

#logo {
    font-size: 1.3rem;
}

nav {
    background-color: var(--light-blue);
}

main {
    background-color: var(--light-pink);
}

section {
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
}

section:last-of-type {
    margin: 0;
}

footer {
    background-color: var(--light-grey);
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid var(--black);
    padding: 5px;
}
