:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-grey: #e1e1e1;
    --red: #ff0000;
    --orange: #ff9900;
    --green: #09ff00;
    --light-pink: #ffd3d3;
    --light-blue: #d0d0ff;

    --primary-background-colour: var(--white);
    --primary-text-color: var(--black);

    --error: var(--red);
    --warning: var(--orange);
    --success: var(--green);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.error-text {
    color: var(--error);
}

.error-background {
    background-color: var(--error);
    color: var(--white);
}

.warning-text {
    color: var(--warning);
}

.warning-background {
    background-color: var(--warning);
}

.success-background {
    background-color: var(--success);
    color: var(--black);
}

.success-text {
    color: var(--success);
}

body {
    background-color: var(--primary-background-colour);
    color: var(--primary-text-color);
}

header {
    background-color: var(--light-grey);
}

#logo {
    font-size: 1.3rem;
}

nav {
    background-color: var(--light-blue);
}

main {
    padding: 20px;
}

section {
    margin: 0 0 30px 0;
}

section:last-of-type {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.3rem;
}

ul {
    list-style: disc;
    padding-left: 2rem;
}

ol {
    list-style: decimal;
    padding-left: 2rem;
}

input[type='url'] {
    padding: 10px;
}

table,
th,
td {
    border: 1px solid var(--black);
    padding: 5px;
}

footer {
    background-color: var(--light-grey);
}

table {
    border-collapse: collapse;
}
